<footer class="footer">
  <small>
    <a href="http://twisterdatatechnologies.com/">Twister Data Technologies</a>
    by DJ
  </small>
  <nav>
    <ul>
      <li><%= link_to "Dashboard",   '#' %></li>
      <li><%= link_to "Contacts", '#' %></li>
      <li><%= link_to "Dispatch", '#' %></li>
      <li><%= link_to "Schedule", '#' %></li>
      <li><%= link_to "Reporting", '#' %></li>
      <li><a href="http://twisterdatatechnologies.com">News</a></li>
    </ul>
  </nav>
</footer>

